/CMakeCache.txt
/CMakeFiles/
/GeoLite2-ASN_20??????/
/GeoLite2-Country_20??????/
/Makefile
/asn.mmdb
/ca-bundle.pem
/cmake_install.cmake
/country.mmdb
/generic-assets-20??????.tar.gz
/geolite2-asn.tar.gz
/geolite2-country.tar.gz
